<html xmlns:th="http://www.thymeleaf.org">
 <div class="col-md-7 grid-margin stretch-card" style="margin-top: 2%;margin-left: 22%;display: inline;margin-bottom: 3%;"  th:fragment="addModule" id="addModule">
                <div class="card">
                  <div class="card-body">
                   <form  th:action="@{/addmodule}"  method="POST" th:object="${addmodule}" id = "addmodule">
                   <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect2">Module Name</label>
                      <input type="text" class="form-control" id="moduleName" name="moduleName" placeholder="Module Name">
                    </div>
                    <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect1">Label</label>
                      <input type="text" class="form-control" id="moduleDisplayName" name="moduleDisplayName" placeholder="Module Display Name">
                    </div>
						<button type="submit" class="btn btn-success mr-2" style="margin-left: 42%;display : inline;">Submit</button>
                  </form>
                  </div>
                </div>
     </div>
	
