<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="addNewShipment">

    <div class="row" th:if="${shipmentData}">
    <form id="createNewShipmentRequest" th:object="${shipmentData}">
           
         <div class="card">
                        <div class="card-body">
                        
                            <div id="shipmentDetails">
                                <h4 class="card-title" style="padding-bottom: 18px;">Shipment Details</h4>
                                
                                <div class="vtabs">
                                     
                                    <div class="tab-content">

                                            <table class="table">
                                                <tr>
                                                    <td class="w-18" ><span class="scenario-details">Scenario ID: </span></td>
                                                    <td class="w-18">
                                                        <input type="hidden" class="form-control input-sm scenarioId" name="scenarioId" id="scenarioId"   th:value="*{scenarioId}"  /> 
                                                         <input type="hidden" class="form-control input-sm shipmentId" name="shipmentId" id="shipmentId"   th:value="*{shipmentId}"  /> 
                                                         <span  th:text="*{scenarioId}"></span>
                                                    </td>

                                                    <td class="w-20"><span class="scenario-details">Shipping Seq Number : </span></td>
                                                    <td class="w-20">
                                                        <input type="text" class="form-control input-sm shipment" name="shippingSeqNumber"  th:value="*{shippingSeqNumber}" required />
                                                    </td>

                                                    <td class="w-15" style="text-align: center;"><span class="scenario-details">Status Name : </span></td>
                                                    <td class="w-20">
                                                         <select class="form-control shipment" name="statusName"  th:field="*{statusName}" required>
                                        							<option  value="" > --select-- </option>
																	<option th:each="dropDownItem : ${listOfStatusName}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
														</select>
                                                    </td>
                                                    
                                                </tr>

                                                <tr>
                                               		<td class="w-10"><span class="scenario-details">Test I/P Number : </span></td>
                                                    <td class="w-20">
                                                        <input  type="text"  class="form-control input-sm shipment" name="testInputNumber"  th:value="*{testInputNumber}"  required/>
                                                    </td>
                                                    <td class="w-10"><span class="scenario-details">Shipment Desc :</span></td>
                                                    <td colspan="3">
                                                        <textarea class="form-control input-sm shipment" name="shipmentDesc"  th:text="${shipmentData.shipmentDesc}"  ></textarea>
                                                    </td>
                                                </tr>
                                            </table>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <button type = "submit" id="addNewShipmentData" style="float : right; margin-right: 17px;" class="btn btn-primary btn-md m-b-10 m-l-5">Save</button>
                       
                        <div class="row" id="event-tab" style="display : none">
                                                <div class="col-lg-12">
                                                    <div class="card">

                                                        <div class="card-body">
                                                            <table class="table" id="eventToolBox">
                                                                <tr>
                                                                    <td>
                       													 <div class="icon-container" >
                         												  	<span class="ti-plus addEvent" ></span><span class="icon-name">Add New Event</span>
                       													 </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            
                                                             <table class="table eventtableForCreate table-bordered" th:id="eventTableForCreate" >
                                                                <thead>
                                                                    <tr>
                                                                       <!--  <th style="border-top: 1px solid #dddddd;">Event ID</th> -->
                                                                        <th style="border-top: 1px solid #dddddd;">Event Desc</th>
                                                                        <th style="border-top: 1px solid #dddddd;">Input Desc</th>
                                                                        <th style="border-top: 1px solid #dddddd;">Event Comment Desc</th>
                                                                        <th style="border-top: 1px solid #dddddd;">Shipment Status Name</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                            <a href="#myModal" class="btn btn-lg btn-primary" id=myAnchor style="display : none" data-toggle="modal">Launch Demo Modal</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /# column -->
                                            </div>
                                      </form>  
                                       <div class="row" id="event-tab" style="margin-left: 75%;">
                                                         
                  						 <form id="newShipmentRequest" th:object="${shipmentData}"  method="GET" th:action="@{/addNewShipment}"> 
                   								<input type="hidden" class="form-control input-sm scenarioId" name="scenarioId" id="scenarioId"   th:value="*{scenarioId}"  /> 
                   		 						<button type = "submit" id="newShipmentAdd" style="float : right; margin-right: 17px;display : none;" class="btn btn-primary btn-md m-b-10 m-l-5 ">New Shipment</button>
                 						 </form>
   			  							 <form   th:object="${shipmentData}" th:action="@{/smartSearch}" method="POST">
          										<input type="hidden" th:value="*{scenarioId}" name="Search" class="form-control">
          										<input type="hidden" value="scenarioId" name="filter" class="form-control">
          										<button type = "submit" id="completed" style="float : right; margin-right: 17px; display : none;" class="btn btn-primary btn-md m-b-10 m-l-5">View</button>
      		 							 </form>
      								  </div>
    </div>
   
</div>
</html>