<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="addNewScenario">

    <div class="row" th:if="${scenarioDetails}">
    <form id="createNewScenarioRequest"  th:object="${scenarioDetails}"  th:action="@{/createNewScenario}" method="POST">
         <div id="scenarioDetailsDiv" class="visible" style="position: relative">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
             
                    <table class="table" id="scenarioTable">
                        <tr>
                            <td class="w-15" ><span class="scenario-details">Ship
									Method : </span></td>
                            <td class="w-20">
                                 <select class="form-control" name="shpMthd"    >
										<option th:each="dropDownItem : ${listOfShpMthd}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" th:selected="${dropDownItem.id} == 'UD'" />
								 </select>
                            </td>

                            <td class="w-10"><span class="scenario-details">ER
									Req Flag : </span></td>
                            <td class="w-20">
                                <input type="text" class="form-control input-sm" name="erReqFlag"  th:value="*{erReqFlag}"  required/>
                            </td>

                            <td class="w-10" ><span class="scenario-details">Status : </span></td>
                            <td class="w-20">
                            	 <select class="form-control" name="status"  th:field="*{status}"  required>
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfStatus}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-10"><span class="scenario-details">Category
									: </span></td>
                            <td class="w-20">
                                 <select class="form-control" name="category"  th:field="*{category}" required>
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfCategory}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                                
                            </td>

                            <td class="w-15"><span class="scenario-details">Sub
									Category : </span></td>
                            <td class="w-20">
                           		 <select class="form-control" name="subCategory"  th:field="*{subCategory}" required>
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfSubCategory}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                            <td class="w-10"><span class="scenario-details">Input
									Desc : </span></td>
                            <td class="w-20">
                                <input type="text" class="form-control input-sm" name="inputDesc" id="inputDesc" th:value="*{inputDesc}"  required/>
                            </td>
                         </tr>
                          <tr>
                            <td class="w-10"><span class="scenario-details">Scenario Category Name
									: </span></td>
                            <td class="w-20">
                            	<select class="form-control" name="scenarioCategoryName"  th:field="*{scenarioCategoryName}"  >
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfScenarioCategoryName}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                            <td class="w-15"><span class="scenario-details">Print Scenario Id : </span></td>
                            <td class="w-20">
                                <input type="text" class="form-control input-sm" name="printScenarioId" th:value="*{printScenarioId}"  />
                            </td>

                            <td class="w-10"><span class="scenario-details">Ex Status : </span></td>
                            <td class="w-20">
                                <select class="form-control" name="exStatus"  th:field="*{exStatus}"  >
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfExStatus}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>
                         </tr>
                          <tr>
                            <td class="w-10"><span class="scenario-details">Reporting Flag
									: </span></td>
                            <td class="w-20">
                            	<select class="form-control" name="reportingFlag"  th:field="*{reportingFlag}"  >
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfReportingFlag}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                            <td class="w-15"><span class="scenario-details">Release Number : </span></td>
                            <td class="w-20">
                                <select class="form-control" name="releaseNumber"  th:field="*{releaseNumber}"  required>
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfReleaseNumbers}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                            <td class="w-10"><span class="scenario-details">Initiative Id : </span></td>
                            <td class="w-20">
                                <input type="text" class="form-control input-sm" name="initiativeId"  th:value="*{initiativeId}"  required/>
                            </td>
                         </tr>
                          <tr>
                            <td class="w-10"><span class="scenario-details">Green Flag
									: </span></td>
                            <td class="w-20">
                             	<select class="form-control" name="greenFlag"  th:field="*{greenFlag}"  required>
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfGreenFlag}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                            <td class="w-15"><span class="scenario-details">Dom Int Flag : </span></td>
                            <td class="w-20">
                             	<select class="form-control" name="domIntFlag"  th:field="*{domIntFlag}"  >
                                        <option  value="" > --select-- </option>
										<option th:each="dropDownItem : ${listOfDomIntFlag}"  th:value="${dropDownItem.id}" th:text="${dropDownItem.value}" />
								</select>
                            </td>

                         </tr>
                         
                         
                            <tr>
                                <td class="w-10"><span class="scenario-details">Scenario
									Desc : </span></td>
                                <td colspan="5">
                                    <textarea class="form-control input-sm" id="scenarioDesc" name="scenarioDesc"  th:text="${scenarioDetails.scenarioDesc}" style="min-height:50px;" required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-10"><span class="scenario-details">Comment
									Desc : </span></td>
                                <td colspan="5">
                                    <textarea class="form-control input-sm" name="commentDesc" id="commentDesc" th:text="${scenarioDetails.commentDesc}" style="min-height:50px;"></textarea>
                                </td>
                            </tr>

                    </table>
                    </div>
          </div>
            </div>
        </div>
                                            <button id="addNewScenariobtn" style="float : right; margin-right: 17px;" type="submit" class="btn btn-primary btn-md m-b-10 m-l-5">Save</button>
        
        </form>
       
    </div>
   
</div>
</html>