<div th:fragment="appDetails">
 <div class="col-md-7 grid-margin stretch-card" style="margin: auto; bottom: 0; left: 0; right: 0;">
 <form  th:object="${appDisplayDetails}" id = "appDisplayDetails">
                <div class="card">
                  <div class="card-body">
                   <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect2">Profile</label>
                     <select class="form-control form-control-lg"  th:field="*{selectedProfile}"   required>
							<option value="">Select</option>
							<option th:each="dropDownItem : ${appDisplayDetails.listOfProfs}" th:value="${dropDownItem.id}" th:text="${dropDownItem.text}" />
					  </select>
                    </div>
                    <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect1">Environment</label>
                      <select class="form-control form-control-lg"  th:field="*{selectedEnv}"   required >
							<option value="">Select</option>
							<option th:each="dropDownItem : ${appDisplayDetails.listOfEnvs}" th:value="${dropDownItem.id}" th:text="${dropDownItem.text}" />
					  </select>
                    </div>
                   
                     <button type="submit"style="visibility: hidden;"> </button>
                  </div>
                </div>
                </form>
                
     </div>
      <div class="col-12 grid-margin" id="proptiesDetails" style="min-height: 400px;margin-top: 1px;"><div class="card" style="min-height: 404px;"><div class="card-body"> </div></div></div>
     </div>
