<html xmlns:th="http://www.thymeleaf.org">
<div class="col-12 grid-margin"
	style="min-height: 400px; margin-top: 1px;"
	th:fragment="comparePropDetails" th:if="${compareResponse != null }">
	<div class="card">
		<div class="card-body">
			<div>
				<h4 class="card-title" style="display: inline;">Difference</h4>
			</div>
			<div class="card-body"
				th:if="${not #lists.isEmpty(compareResponse.changedValues)}">
				<div>
					<h4 class="card-title" 
						style="display: inline;">Changed Values</h4>
				</div>
				<table class="table table-hover" id="compareChangeTable">
					<thead>
						<tr>
							<th>Properties</th>
							<th>Old Value</th>
							<th>New Value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="changedProps: ${compareResponse.changedValues}">

							<td><textarea class="form-control changed"
									th:text="${changedProps.id}" disabled="disabled"></textarea></td>
							<td><textarea class="form-control changed"
									th:text="${changedProps.oldValue}" disabled="disabled"></textarea></td>
							<td><textarea class="form-control changed"
									th:text="${changedProps.newValue}" disabled="disabled"></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-body"
				th:if="${not #lists.isEmpty(compareResponse.removedProps)}">
				<div>
					<h4 class="card-title"
						style="display: inline;">Removed Properties</h4>
				</div>
				<table class="table table-hover" id="compareRemovedTable">
					<thead>
						<tr>
							<th>Properties</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="removeProp: ${compareResponse.removedProps}" >

							<td><textarea class="form-control removed"
									th:text="${removeProp.id}" disabled="disabled" style="background: #f7b3b3"></textarea></td>
							<td><textarea class="form-control removed"
									th:text="${removeProp.text}" disabled="disabled" style="background: #f7b3b3"></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-body"
				th:if="${not #lists.isEmpty(compareResponse.newProps)}">
				<div>
					<h4 class="card-title"  style="display: inline;">New Props</h4>
				</div>
				<table class="table table-hover" id="compareNewTable">
					<thead>
						<tr>
							<th>Properties</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="newProps: ${compareResponse.newProps}">

							<td><textarea class="form-control new" th:text="${newProps.id}" disabled="disabled"  style="background: #bfdaf1;"></textarea>
							</td>
							<td><textarea class="form-control new"
									th:text="${newProps.text}" disabled="disabled"  style="background: #bfdaf1;"></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>