<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="massLockUnlock">

        <div class="col-lg-12">
            <div class="card">
            <table class="table borderless" id="massLockUnlockTable" style="display: inline;margin-left: 30%;">
               <tr>
               <td>
                  <form   th:action="@{/massLockUnlockFilter}" method="POST">
								
								 		<div class="form-group" style=" margin-bottom: 0px;    margin-right: 3%;" >
                                                <div class="input-group input-group-rounded">
                                                    <input type="text" placeholder="Search ... " id="inputBox" name="Search" class="form-control" style="height: 38px;width: 68%;">
                                                     <select class="form-control" name="filter" id="searchFilter"  style="width: 47px;width: 42%;">
                                        					<option  value="" > --select-- </option>
                                        					<option  value="scenarioId" > Scenario Id </option>
                                        					<option  value="releaseNumber" > Release No </option>
                                        					<option  value="scenarioDesc" > Scenario Desc </option>
                                        					<option  value="initiativeId" > Initiative Id </option>
                                        					<option  value="testInputNumber" > Test Input No </option>
													</select>
                                                    <span class="input-group-btn"><button id="searchBtn" class="btn btn-primary btn-group-right"  style="background: #c3c4ca;border-color: #c3c4ca;height: 38px;" type="submit"><i class="ti-search"></i></button></span>
                                                </div>
                                            </div>
                       			  
                   </form>
                   </td>
                   <tr>
                   </table>
                   
       <div class="row" style="overflow-x : scroll" th:if="${response.responseData  != null } ? ${not #lists.isEmpty(response.responseData.listOfScenarios)}">
        
        
        <div class="col-lg-16">
            <div class="card">
                  <table class="table borderless" id="scenarioToolBox" style="display: inline;margin-left: 50px;" >
                 <tr>
                                                                    <td>
					<div class="icon-container"  >
                         	<span class="ti-lock massScenarioLock" ></span><span class="icon-name"></span>
                    </div>
                    <div class="icon-container" >
                        	<span class="ti-unlock massScenarioUnLock"></span><span class="icon-name"></span>
                    </div>
                    </td>
                    </tr>
                    </table>
                        <table id="row-select" class="row-select display table table-borderd table-hover cell-border" >
                            <thead>
                                <tr>
                                	<th style="border-top: 1px solid #dddddd;" >
                                	<input type="checkbox" name="select-all" id="select-all" /> 	</th>
                                    <th style="border-top: 1px solid #dddddd;">Scenario Id</th>
                                    <th style="border-top: 1px solid #dddddd;">Scenario Desc</th>
                                    <th style="border-top: 1px solid #dddddd;">Status</th>
                                    <th style="border-top: 1px solid #dddddd;">Release No</th>
                                    <th style="border-top: 1px solid #dddddd;">Category</th>
                                    <th style="border-top: 1px solid #dddddd;">Sub Category</th>
                                    <th style="border-top: 1px solid #dddddd;">ErReq Flag</th>
                                    <th style="border-top: 1px solid #dddddd;">Green Flag</th>
                                    <th style="border-top: 1px solid #dddddd;">Initiative Id</th>
                                </tr>
                            </thead>

                            <tbody>
                                	<tr th:each="scenarios :  ${response.responseData.listOfScenarios}">
                                	<td > <input type="checkbox" name="checkboxs" th:value="${scenarios.scenarioId}"/> 
                                	</td>
                                	<td th:text="${scenarios.scenarioId}" /></td>
                                	<td th:text="${scenarios.scenarioDesc}" /></td>
                                    <td th:text="${scenarios.status}" /></td>
                                    <td th:text="${scenarios.releaseNumber}" /></td>
                                    <td th:text="${scenarios.category}" /></td>
                                    <td th:text="${scenarios.subCategory}" /></td>
                                    <td th:text="${scenarios.erReqFlag}" /></td>
                                    <td th:text="${scenarios.greenFlag}" /></td>
                                    <td th:text="${scenarios.initiativeId}" /></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
            <!-- /# card -->
        </div>
        <!-- /# column -->
    </div>
   			</div>
   		</div>
</div>
</html>