<html xmlns:th="http://www.thymeleaf.org">
 <div class="col-md-7 grid-margin stretch-card" style="margin-top: 2%;margin-left: 22%;display: inline;margin-bottom: 3%;"  th:fragment="bulkupload" id="bulkupload">
                
                 <div class="card bulk">
                  <div class="card-body">
                   <form  th:action="@{/uploadproperties}" enctype="multipart/form-data"   method="POST" id = "bulkUploadProps">
                    <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect2">Profile</label>
                     <select class="form-control form-control-lg"  name="selectedProfile" id="selectedProfile"  required>
							<option value="">Select</option>
							<option th:each="dropDownItem : ${appDisplayDetails.listOfProfs}" th:value="${dropDownItem.id}" th:text="${dropDownItem.text}" th:selected="${dropDownItem.id == selectedAppRequest.selectedProfile}"  />
					  </select>
                    </div>
                    <div class="form-group" style="display: inline; width: 50%;float: left;padding: 5%;">
                      <label for="exampleFormControlSelect1">Label</label>
                      <select class="form-control form-control-lg"  name="selectedLabel"  id="selectedLabel" required >
							<option value="">Select</option>
							<option th:each="dropDownItem : ${appDisplayDetails.listOflabels}" th:value="${dropDownItem.id}" th:text="${dropDownItem.text}" th:selected="${dropDownItem.id == selectedAppRequest.selectedLabel}" />
					  </select>
                    </div>
                    	<input type = "hidden" id="appId" th:value="${selectedAppRequest.appId}" name="appId"/>
                        <input type = "hidden" id="modId" th:value="${selectedAppRequest.selectedModule}" name="selectedModule"/>
                   		<input type="file" id="file" name="file" style=" width: 36%;margin-left: 29%;">
                          <button type="submit" class="btn btn-success mr-2" style="display: inline;" value="Upload" > Upload</button>
 				  </form>
                  </div>
                </div>
     </div>
	
