<html xmlns:th="http://www.thymeleaf.org">

<div class="row"  th:fragment="footer">
                            <div class="col-lg-12">
                                <div class="footer">
                                 <!-- <a href="comingsoon.xhtml">About Us</a>
                                 <a href="support.xhtml">Support</a>
                                 <a href="comingsoon.xhtml">Blog</a> -->
                                 <span style="color: red; margin-left: 25%">Best viewed in Chrome, Internet Explorer 11.0 and above.</span>
							
							<small >&#169; FedEx 1995 - 2016</small>
							<small ><a href="http://www.fedex.com/us/legal/"
								target="_blank">fedex.com Terms of Use</a></small>
								<small ><a
								href="http://www.fedex.com/us/security/index.html" target="_blank">
								Security and Privacy</a></small>
                                </div>
                            </div>
                        </div>
</html>


