
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:fragment="header">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        </div> 
        <div class="navbar-menu-wrapper d-flex align-items-center">
        <div style="width:90%"></div>
           <ul>
            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                <a  th:href="@{/logout}" ><i class="ti-power-off"></i> <span >Log Out</span></a>
            </li>
          </ul>
        </div> 
      </nav>
</html>