<html xmlns:th="http://www.thymeleaf.org">
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar" th:if="${appDisplayDetails}" >
	<ul class="nav" >
		<li class="nav-item nav-category">Modules</li> 
		<li class="nav-item "  th:each="moduleItems : ${appDisplayDetails.listOfModules}"  >
		<a class="nav-link module-class"> <i
				class="menu-icon typcn typcn-document-text"></i> <span
				class="menu-title" th:value="${moduleItems.id}" th:id="${moduleItems.id}" th:text="${moduleItems.text}"></span>
		</a>
		</li>
	</ul>
</nav>

</html>