<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Config Manager</title>
<link rel="stylesheet"
	href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet"
	href="assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
<link rel="stylesheet"
	href="assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet"
	href="assets/vendors/css/vendor.bundle.addons.css">
<link rel="stylesheet" href="assets/css/shared/style.css">
<link rel="stylesheet" href="assets/css/demo_1/style.css">
<link rel="shortcut icon" href="assets/images/favicon.ico" />
</head>
<body>
	<div class="container-scroller" style="width: 100%; height: 100%;">
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel" style="width: 100%; height: 100%;">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-7 grid-margin stretch-card"
							style="margin: auto; margin-top: 10%; bottom: 0; left: 0; right: 0;">
							<div class="card">
								<div class="card-body">
									<div class="form-group">
										<label for="selectApplication">Select Application</label>
										<form  th:action="@{/appdetails}"  method="POST" th:object="${appData}" >
										 <select class="form-control form-control-lg"  th:field="*{appId}"   required>
											<option value="">Select</option>
											<option th:each="dropDownItem : ${appData.listOfApps}"
												th:value="${dropDownItem.id}" th:text="${dropDownItem.text}" />
										</select>
										<button type="submit" class="btn btn-success mr-2" style="margin-top: 2%;margin-left: 44%;">Select</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="assets/vendors/js/vendor.bundle.addons.js"></script>
	<script src="assets/js/shared/off-canvas.js"></script>
	<script src="assets/js/shared/misc.js"></script>
	<script src="assets/js/demo_1/dashboard.js"></script>
</body>
</html>