<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Config Manager</title>
    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.addons.css">
     <link rel="stylesheet" href="assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/shared/style.css">
    <link rel="stylesheet" href="assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller" style="width: 100%; height: 100%;">
    <input type="hidden" id="modelAttr" name="fault" th:value="${fault}"/>
	<input type="hidden" id="tab" name="tab" th:value="${tab}"/>
      <div th:replace="fragments/header :: header"></div>
      <div class="container-fluid page-body-wrapper">
         <div th:replace="fragments/sidebar.html :: sidebar"></div>
         <div class="main-panel" style="width: 81%; height: 100%;">
        <div  th:replace="${bulkpage == null && comparepage == null && appdetails == 'true'} ? ~{fragments/appdetails.html :: appdetails}: ~{}"></div>
        <div  th:replace="${bulkpage == 'true'} ? ~{fragments/bulkupload.html :: bulkupload}: ~{}"></div>
         <div  th:replace="${comparepage == 'true'} ? ~{fragments/comparepage.html :: comparepage}: ~{}"></div>
        
          <div class="content-wrapper" th:replace="@{'views/' + ${content}} :: ${content}"></div>


                <div th:replace="fragments/footer.html :: footer"></div>
        </div>
          
                
        </div>
        </div>
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="assets/vendors/js/config.js"></script>
    <script src="assets/js/shared/off-canvas.js"></script>
    <script src="assets/js/shared/misc.js"></script>
  </body>
  <script type="text/javascript">
  var _ctx = $("meta[name='ctx']").attr("content");

//Prepend context path to all jQuery AJAX requests
$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
   if (!options.crossDomain) {
       options.url = _ctx + options.url;
   }
});
  </script>
</html> 